[run]
source = devify
omit =
    */migrations/*
    */tests/*
    */venv/*
    */env/*
    */__pycache__/*
    */settings/*
    */manage.py
    */conftest.py
    */factories.py
    */test_*.py
    */admin.py
    */apps.py
    */urls.py
    */wsgi.py
    */asgi.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    class .*\bProtocol\):
    @(abc\.)?abstractmethod

[html]
directory = htmlcov

[xml]
output = coverage.xml
